{% extends 'base.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h2>Отправь email сообщение</h2>
            <p>Отправь email сообщение на любой адрес</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                {% endif %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-success">Отправить</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    <div>
</div>
{% endblock %}